@model WebAppMvcAlunos.Models.Aluno

@{
    ViewBag.Title = "Detalhes do aluno";
}

@section Cabecalho
    {
    <div class="well">Promoção de matrícula para o início do bimestre</div>
}




<h2>Sobre</h2>

<div>
    <h4>Detalhes do Aluno</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Voltar", "Index")
</p>

@secition Rodape
{
<hr />
<footer>
    <p>Conheca a nossa política de privacidade</p>
</footer>
}